body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 1000px;
    margin: 0px auto;
}
#menu-top{
    background-color: rgb(54, 54, 54);
    width: 1000px; height: 50px;
   
}
#banner{

    width: 1000px;height: auto;
    float: left;
    margin: 0px; padding: 0px;
}
#main #left{
    
    width: 800px; 
    float: left;
    min-height: 500px;
}
#main #right{
    background-color: chocolate;
    width: 200px;min-height: 500px;
    float: left;
}
#footer{
    background-color: pink;
    width: 1000px;height: 60px;
    color: black;text-align: center;
    clear: left;
    
}
#menu-top ul li{
    list-style-type: none;
    float: left;
}
#menu-top ul li a{
    text-decoration: none;
    color: white;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0px 30px 0px 30px;
    border-right: 2px solid whitesmoke;
}
#menu-top ul li a.active {
    background-color: lightseagreen;
}

#main #left ul{
    margin: 0px;
    padding: 10px;
}
#main #left ul li{
list-style: none;
clear: left;
border-bottom: 1px solid black;
margin-bottom: 20px;

}
#main #left ul li h3{
    padding-left: 8px;
}

#main #left ul li img{
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
#main #right #righttop{
    height: 100px;width: auto;
    background-color: orange;
}
#main {
    margin-top: 10px;
}
#main #right #mennu-right ul{
    margin: 0px;padding: 0px;
}

#main #right #mennu-right ul li{
    list-style: none;
}

#main #right #mennu-right h3{
    margin-top: 20px; height: 20px;
    background: lightseagreen; url(../Source Anh/icon.jpeg);
    
}